@font-face {
 font-family : zeroesThree;
 src : url(zeroesThree.otf);
}

* {
 margin: 0;
 padding: 0;
 font-family: zeroesThree;
 font-size: 26px;
}

button {
 color: white;
 background: #2a2a2a;
 border: none;
}

body {
 background-image :
  linear-gradient(
   to right,
   #FFFFFF, #FFFFFF 66%,
   #91E59F 66%);

 position: absolute;
 height: 100%;
 width: 100%;

 display: grid;
 grid-template-rows: 1fr 3fr 2fr;
 grid-template-areas:
 "."
 "main"
 ".";

 align-items: center;
 justify-items: center;
}

.container {
 grid-area: main;

 display: grid;
 grid-template-columns: repeat(4, 50px);
 grid-template-rows: repeat(7, 50px);
 grid-gap: 6px;
}

.site-branding {
  grid-column: 1/5;
  height: 50px;
  }
  .site-branding img {
    width: 150px;
  }

.textview {
 grid-column: 1/5;
}

.zero {
 grid-column: 1/3;
}
